In [1]:
import duckdb
import pyarrow as pa
import pyarrow.dataset as ds
import pandas as pd

# df = pd.read_parquet('datasets/competencia_01_aum.parquet')


# tabla = pa.Table.from_pandas(df)

# # write df as a parquet dataset
# ds.write_dataset(tabla, base_dir = "datasets/competencia_01_aumpy",
#                   format="parquet",
#                  partitioning= ["foto_mes"],
#                  max_rows_per_file = 42000, max_rows_per_group = 42000,
#                  existing_data_behavior = "overwrite_or_ignore")

In [2]:

dataset = ds.dataset('datasets/competencia_01_aum', format="parquet", partitioning="hive")

In [3]:
columnas = dataset.schema.names

In [4]:
'foto_mes' in columnas

True

In [5]:
# get all columns that does not contain the pattern "lag2|variacion2"
cols_selected  = [col for col in columnas if not pd.Series(col).str.contains("lag2|variacion2", regex=True).any()]

In [6]:
dataset.to_table(columns=cols_selected).to_pandas().head()

,numero_de_cliente,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,...,variacion1_decil_Master_madelantodolares,variacion1_decil_Visa_madelantodolares,variacion1_decil_cliente_edad,variacion1_total_mlimitecompra,variacion1_total_mfinanciacion_limite,variacion1_total_msaldototal,variacion1_total_patrimonio,variacion1_total_payroll,variacion1_total_prestamos,foto_mes
0,321813214.0,1.0,0.0,0.0,48.0,275.0,4323.93,40699.07,2951.38,-110.02,...,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,-1.797693e+308,0.0,0.000000e+00,202101
1,321931139.0,1.0,0.0,0.0,73.0,73.0,2680.10,23632.13,2633.24,-554.75,...,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,0.0,0.000000e+00,202101
2,321988757.0,1.0,0.0,0.0,57.0,118.0,-618.14,6296.98,1777.75,-2000.72,...,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,-1.797693e+308,0.0,0.000000e+00,202101
3,322129432.0,1.0,0.0,0.0,67.0,320.0,10877.41,205046.54,4240.48,-4525.53,...,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,0.0,0.000000e+00,202101
4,322179091.0,1.0,0.0,0.0,58.0,278.0,3988.58,23807.90,4438.20,-661.73,...,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,1.797693e+308,0.0,1.797693e+308,202101